### VS Code ###
.vscode/
.DS_Store
estore-api/.DS_Store
estore-api/src/.DS_Store
estore-api/src/test/.DS_Store
estore-api/src/test/java/.DS_Store
estore-api/src/test/java/com/.DS_Store
estore-api/src/test/java/com/estore/.DS_Store
estore-api/src/test/java/com/estore/api/.DS_Store
estore-api/src/test/java/com/estore/api/estoreapi/.DS_Store
