<h1>{{title}}</h1>
<nav>
	<a *ngIf="userService.isCustomerSignedIn()" routerLink="/rocks"> Rocks </a>
	<a *ngIf="userService.isAdminSignedIn()"routerLink="/rocks"> Inventory </a>
	<a *ngIf="userService.isUserSignedIn()"routerLink="/dashboard"> Dashboard </a>
	<a *ngIf="userService.isCustomerSignedIn()"routerLink="/cart"> Cart </a>
	<a *ngIf="!userService.isUserSignedIn()"routerLink="/login"> Login </a>
	<a *ngIf="userService.isUserSignedIn()"routerLink="/logout"> Log Out </a>
	<a *ngIf="userService.isUserSignedIn()"routerLink="/password-settings"> Change Password </a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>