<div *ngIf="rock">
  <h2>{{rock.name | uppercase}} Details</h2>
  <div>Name: {{rock.name}}</div>
  <div>Description: {{rock.description}}</div>
  <div>Price: ${{rock.price}}</div>
  <div>Type: {{rock.type}}</div>
  <div>Size: {{rock.size}}</div>
  <div>Shape: {{rock.shape}}</div>
  <div>Stock: {{rock.stock}} remaining!</div>

	<div class="rock-detail-image-display">
		<img src="{{getImagePath()}}" alt="{{rock.name}} Rock" style="width: 300px; height: 300px;">
		<img *ngIf="selectedClothingName" src="{{getClothingURLFromName(selectedClothingName)}}" alt="{{selectedClothingName}} Clothing" class="clothing-overlay">
		<img *ngIf="selectedHatName" src="{{getHatURLFromName(selectedHatName)}}" alt="{{selectedHatName}} Hat" class="hat-overlay" style="width: 200px; height: 200px;">
	</div>

	<select [(ngModel)]="selectedHatName">
		<option *ngFor="let hat of mockAvailableHats" [value]="hat.name">{{ hat.name }}</option>
	</select>

	<select [(ngModel)]="selectedClothingName">
		<option *ngFor="let clothing of mockAvailableClothing" [value]="clothing.name">{{ clothing.name }}</option>
	</select>

  <div *ngIf="userService.userIsAdmin()">
    <br><br><br>
    <div>id: {{rock.id}}</div>
    <div>
      <label for="rock-name">Edit name: </label>
      <input id="rock-name" [(ngModel)]="rock.name" placeholder="name">
    </div>
    <div>
      <label for="rock-price">Edit price: </label>
      <input id="rock-price" [(ngModel)]="rock.price" placeholder="price">
    </div>
    <div>
      <label for="rock-type">Edit type: </label>
      <input id="rock-type" [(ngModel)]="rock.type" placeholder="type">
    </div>
    <div>
      <label for="rock-size">Edit size: </label>
      <input id="rock-size" [(ngModel)]="rock.size" placeholder="size">
    </div>
    <div>
      <label for="rock-shape">Edit shape </label>
      <input id="rock-shape" [(ngModel)]="rock.shape" placeholder="shape">
    </div>
    <div>
      <label for="rock-price">Edit description: </label>
      <input id="rock-price" [(ngModel)]="rock.description" placeholder="description">
    </div>
    <div>
      <label for="rock-stock">Edit stock: </label>
      <input id="rock-stock" [(ngModel)]="rock.stock" placeholder="stock">
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
	<button type="button" (click)="goBack()">go back</button>
	<button
		*ngIf="!userService.userIsAdmin() && rock.stock > 0"
		type="button"
		class="add"
		title="add rock to cart"
		(click)="addToCart(rock.id, userService.getSignedInUserId())"
	>
		Add to cart
	</button>
  <button
		*ngIf="!userService.userIsAdmin() && rock.stock <= 0"
		type="button"
		class="stock"
		title="rock is out of stock"
	>
		OUT OF STOCK
	</button>

</div>