<div *ngIf="rock">
  <h2>{{rock.name | uppercase}} Details</h2>
  <div>name: {{rock.name}}</div>
  <div>description: {{rock.description}}</div>
  <div>price: {{rock.price}}</div>
  <div>type: {{rock.type}}</div>
  <div>size: {{rock.size}}</div>
  <div>shape: {{rock.shape}}</div>
  <div>shape: {{rock.image_url}}</div>

	<div class="rock-detail-image-display">
		<img src="{{getImagePath()}}" alt="{{rock.name}} Rock">
		<img *ngIf="selectedClothingName" src="{{getClothingURLFromName(selectedClothingName)}}" alt="{{selectedClothingName}} Clothing" class="clothing-overlay" >
		<img *ngIf="selectedHatName" src="{{getHatURLFromName(selectedHatName)}}" alt="{{selectedHatName}} Hat" class="hat-overlay">
	</div>

	<select [(ngModel)]="selectedHatName">
		<option *ngFor="let hat of mockAvailableHats" [value]="hat.name">{{ hat.name }}</option>
	</select>

	<select [(ngModel)]="selectedClothingName">
		<option *ngFor="let clothing of mockAvailableClothing" [value]="clothing.name">{{ clothing.name }}</option>
	</select>

  <div *ngIf="userService.userIsAdmin()">
    <br><br><br>
    <div>id: {{rock.id}}</div>
    <div>
      <label for="rock-name">Edit name: </label>
      <input id="rock-name" [(ngModel)]="rock.name" placeholder="name">
    </div>
    <div>
      <label for="rock-price">Edit price: </label>
      <input id="rock-price" [(ngModel)]="rock.price" placeholder="price">
    </div>
    <div>
      <label for="rock-type">Edit type: </label>
      <input id="rock-type" [(ngModel)]="rock.type" placeholder="type">
    </div>
    <div>
      <label for="rock-size">Edit size: </label>
      <input id="rock-size" [(ngModel)]="rock.size" placeholder="size">
    </div>
    <div>
      <label for="rock-shape">Edit shape </label>
      <input id="rock-shape" [(ngModel)]="rock.shape" placeholder="shape">
    </div>
    <div>
      <label for="rock-price">Edit description: </label>
      <input id="rock-price" [(ngModel)]="rock.description" placeholder="description">
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
	<button type="button" (click)="goBack()">go back</button>
	<button
		*ngIf="!userService.userIsAdmin()"
		type="button"
		class="add"
		title="add rock to cart"
		(click)="addToCart(rock.id, userService.getSignedInUserId())"
	>
		Add to cart
	</button>

</div>