<div *ngIf="rock">
  <h2 class="rock-title">
		<div class="rock-name">{{rock.name}}</div>
		<div class="price"> ${{rock.price.toFixed(2)}}</div>
	</h2>

  <div class="description"> {{rock.description}} </div>

	<div class="attributes">
		<div> <strong>Type:</strong> {{rock.type}} </div>
		<div> <strong>Size:</strong> {{rock.size}} Stonemasses </div>
		<div> <strong>Shape:</strong> {{rock.shape}} </div>
    <div> <strong>Stock:</strong> {{rock.stock}} remaining!</div>
	</div>

	<div class="rock-detail-image-display">
		<img src="{{getImagePath()}}" alt="{{rock.name}} Rock" style="width: 300px; height: 300px;">
		<img *ngIf="selectedClothingName" src="{{getClothingURLFromName(selectedClothingName)}}" alt="{{selectedClothingName}} Clothing" class="clothing-overlay">
		<img *ngIf="selectedHatName" src="{{getHatURLFromName(selectedHatName)}}" alt="{{selectedHatName}} Hat" class="hat-overlay">
	</div>

  <div class="select-input">
		<label for="hatSelection">Select a Hat to Add</label>
		<select id="hatSelection" [(ngModel)]="selectedHatName">
			<option value=""> None </option>
			<option *ngFor="let hat of mockAvailableHats" [value]="hat.name">{{ hat.name }}</option>
		</select>
	</div>

	<div class="select-input">
		<label for="clothingSelection">Select a Clothing to Add</label>
		<select id="clothingSelection" [(ngModel)]="selectedClothingName">
			<option value=""> None </option>
			<option *ngFor="let clothing of mockAvailableClothing" [value]="clothing.name">{{ clothing.name }}</option>
		</select>
	</div>

  <div *ngIf="userService.userIsAdmin()">
    <br><br><br>
    <div>id: {{rock.id}}</div>
    <div>
      <label for="rock-name">Edit name: </label>
      <input id="rock-name" [(ngModel)]="rock.name" placeholder="name">
    </div>
    <div>
      <label for="rock-price">Edit price: </label>
      <input id="rock-price" [(ngModel)]="rock.price" placeholder="price">
    </div>
    <div>
      <label for="rock-type">Edit type: </label>
      <input id="rock-type" [(ngModel)]="rock.type" placeholder="type">
    </div>
    <div>
      <label for="rock-size">Edit size: </label>
      <input id="rock-size" [(ngModel)]="rock.size" placeholder="size">
    </div>
    <div>
      <label for="rock-shape">Edit shape </label>
      <input id="rock-shape" [(ngModel)]="rock.shape" placeholder="shape">
    </div>
    <div>
      <label for="rock-price">Edit description: </label>
      <input id="rock-price" [(ngModel)]="rock.description" placeholder="description">
    </div>
    <div>
      <label for="rock-stock">Edit stock: </label>
      <input id="rock-stock" [(ngModel)]="rock.stock" placeholder="stock">
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
	<button type="button" (click)="goBack()">≺ Go Back</button>
	<button
		*ngIf="!userService.userIsAdmin() && rock.stock > 0"
		type="button"
		class="add"
		title="add rock to cart"
		(click)="addToCart(rock, userService.getSignedInUserId())"
	>
    Add To Cart
	</button>
  <button
		*ngIf="!userService.userIsAdmin() && rock.stock <= 0"
		type="button"
		class="stock"
		title="rock is out of stock"
	>
		OUT OF STOCK
	</button>

</div>