<h2>Rocks</h2>
<div *ngIf="userService.getSignedInUserId() == 0">
  <label for="new-rock">Rock name: </label>
  <input id="new-rock" #rockName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
		type="button"
		class="add-button"
		(click)="
			add(rockName.value);
			rockName.value='';
		"
	>
    Add rock
  </button>
</div>
<div>
	<div class="rock_button" *ngFor="let rock of rocks" >
		<a routerLink="/detail/{{rock.id}}">
			<span class="badge">{{rock.id}}</span> {{rock.name}}
		</a>
		<button
			type="button"
			class="delete"
			title="delete rock"
			(click)="delete(rock)"
		>
			x
		</button>
	</div>
</div>
