div.rock_button {
	display: block;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
	text-decoration: none;
}
div.rock_button:hover {
  background-color: black;
  color: white;
}
div.rock_button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.selected {
	background-color: lightcoral;
	color: red;
}