<!-- <p>checkout works!</p> -->
<body>
    <div class = "container">
        <form action = "">
            <div class = "row">
                <div class = "col">
                    <h3 class = "title">Billing Address</h3>
                    <div class = "input-box">
                        <span>Full Name: </span>
                        <input type="text" placeholder="John Doe"> 
                    </div>
                    <div class = "input-box">
                        <span>Email: </span>
                        <input type="text" placeholder="example@example.com"> 
                    </div>
                    <div class = "input-box">
                        <span>Address: </span>
                        <input type="text" placeholder=""> 
                    </div>
                    <div class = "input-box">
                        <span>Town/City: </span>
                        <input type="text" placeholder=""> 
                    </div>
                    <div class = "input-box">
                        <span>Town/City: </span>
                        <input type="text" placeholder=""> 
                    </div>
                    <div class = "flex">
                        <div class = "input-box">
                            <span>State: </span>
                            <input type="text" placeholder=""> 
                        </div>
                        <div class = "input-box">
                            <span>Zip Code: </span>
                            <input type="text" placeholder=""> 
                        </div>
                    </div>
                </div>
                
                <div class = "col">
                    <h3 class = "title">Payment Info</h3>
                    <div class = "input-box">
                        <span>Accepted cards:</span>
                        <img src = "../../../assets/cards-accepted.jpg">
                    </div>
                    <div class = "input-box">
                        <span>Cardholder: </span>
                        <input type="text" placeholder="John Doe"> 
                    </div>
                    <div class = "input-box">
                        <span>Card Number: </span>
                        <input type="text" placeholder="xxxx xxxx xxxx xxxx"> 
                    </div>
                    <div class = "input-box">
                        <span>Expiration Date: </span>
                        <input type="text" placeholder="MM/YY"> 
                    </div>
                    <div class = "input-box">
                        <span>CVV: </span>
                        <input type="text" placeholder="xxx"> 
                    </div>
                    <button type="button" class="confirm-purchase" (click) = "clearCart()">
                        Confirm Purchase
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>