*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 70px;
}

.container form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.container form .row .col title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
}

.container form .row .col .input-box {
    margin: 15px 0;
}

.container form .row .col .input-box span {
    margin-bottom: 5px;
    display: block;
}

.container form .row .col .input-box input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.container form .row .col .input-box img {
    padding: 3.5px 0px;
}

.container form .row .col .input-box input:focus {
    border: 1px solid #000;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .input-box {
    margin-top: 5px;
}

.container form .row .col .confirm-purchase {
    width: 100%;
    height: 39.2px;
    padding: 12px;
    margin-top: 28px;
    font-size: 17px;
    color: #fff;
    background: #27ae60;
    cursor: pointer;
    border-radius: 0px;
}

.container form .row .col .confirm-purchase:hover {
    background: #2ecc71;
}