<div class="login-component">
  <div class="input-fields">
    <label for="username-box">Username: </label>
    <input #userBox id="username-box" />

  <label for="password-box"> Password: </label>
  <input #passwordBox id="password-box" [value] = "password"/>
  <p><i>A password must be 8-20 characters long and have 
    both a uppercase and lowercase letter and one special character !,#,*,^</i></p>

  <div class="sign-in-up">
    <button
      type="button"
      class="add-button"
      (click)="
        signUp(userBox.value, passwordBox.value);
        userBox.value = '';
        passwordBox.value = ''
      "
    >
      Sign Up
    </button>

    <button
      type="button"
      class="add-button"
      (click)="
        signIn(userBox.value, passwordBox.value);
        userBox.value = '';
        passwordBox.value = ''
      "
    >
      Sign In
    </button>

    <button (click)="generatePassword()">
      Generate Strong Password
    </button>
    
  </div>
</div>